*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.heading {
  margin: 0 10% 0;
  padding: 10px 0;
}

.heading > h1 {
  display: inline-block;
  margin: 0;
}

.heading > h2 {
  display: inline-block;
  margin: 0 0 0 5px;
}

h1 {
  color: red;
  margin-right: 1em;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

h2 {
  color: gray;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

.menu * {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

.top {
  display: inline-block;
  width: 15%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.content {
  width: 80%;
  margin: 0 auto;
  vertical-align: top;
}

.blog {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  max-width: 55%:
}

.article {
  max-width: 55%;
}

div.article > img {
  max-width: 100%;
}

h2.post {
  color: black;
}

.sidebar {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  max-width: 18%:
}

.about {
  max-width: 18%;
  margin: 0;
}

h3 {
  margin: 0;
  padding: 5px 0px;
}

.popPos {
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
}

footer > ul > li {
  display: inline-block;
  text-align: center;
  color: red;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-right: 1px solid black:
}
